body{
    background-color: #DCDCDC;
    font-family: 'Open Sans', sans-serif;
}

header{
    padding: 5px 5px 5px 5px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 15px;
}

header a {
    text-decoration: none;
    color: #000000;
    padding-right: 10px;
}

.header-login{
    padding-top: 0.47em;
}

.logo{
    width: 60px;
    border-radius: 50%;
}

.avatar{
    width: 45px;
    border-radius: 50%;
}

.showcase{
    margin-left: 58px;
    margin-right: 58px;
}

.topic-navigator{
    display: flex;
    justify-content: space-between;
}
